* {
  font-family: "Inter", sans-serif;
}

h1 {
  padding: 5%;
  text-align: center;
}

.card {
  padding: 2%;
  margin: 2%;
  background-color: rgb(233, 233, 233);
}

.card-body {
  background-color: white;
}

.profile-image {
  float: none;
}

.project-image {
  float: right;
}

.contacts {
  text-align: center;
}

.twitter-image {
  margin-left: 25%;
}

.linkedin-image {
  margin-left: 25%;
}
