* {
  font-family: "Inter", sans-serif;
}

h1 {
  padding: 5%;
  text-align: center;
}

.card {
  padding: 2%;
  margin: 2%;
  background-color: rgb(233, 233, 233);
}

.profile-image {
  border-radius: 50%;
  float: right;
  width: 150px;
  height: 150px;
  padding-top: 2%;
  padding-right: 16%;
}

.project-image {
  float: right;
}

.contacts {
  text-align: center;
}

.twitter-image {
  margin-left: 25%;
}

.linkedin-image {
  margin-left: 25%;
}
