.card {
  background-color: rgb(233, 233, 233);
}
h1 {
  padding: 5%;
  text-align: center;
}

.card {
  padding: 2%;
  margin: 2%;
}

/* img {
  float: right;
} */

.profile-image {
  border-radius: 4px;
  float: right;
  width: 150px;
  height: 150px;
  padding-top: 2%;
  padding-right: 16%;
}
